<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OpendiaryMapper">
	<resultMap type="Opendiary" id="odResultMap">
		<result property="opendiaryNo" column="OPENDIARY_NO"/>
		<result property="opendiaryTitle" column="OPENDIARY_TITLE"/>
		<result property="opendiaryContents" column="OPENDIARY_CONTENTS"/>
		<result property="opendiaryDate" column="OPENDIARY_DATE"/>
		<result property="opendiaryModifyDate" column="OPENDIARY_MODIFY_DATE"/>
		<result property="opendiaryViews" column="OPENDIARY_VIEWS"/>
		<result property="userId" column="USERID"/>
	</resultMap>
	<resultMap type="DiaryImg" id="imgResultMap">
		<result property="imgPath" column="IMAGE_PATH"/>
		<result property="imgRenamePath" column="IMAGE_RENAME_PATH"/>
		<result property="diaryNo" column="DIARY_NO"/>
		<result property="opendiaryNo" column="OPENDIARY_NO"/>
	</resultMap>
	
	<select id="odList" resultMap="odResultMap">
		SELECT * FROM OPENDIARY ORDER BY OPENDIARY_NO
	</select>
	<select id="getListCount" resultType="int">
		SELECT COUNT(*) FROM OPENDIARY
	</select>
	<insert id="insertDiary">
		INSERT INTO OPENDIARY VALUES(SEQ_OPENDIARY.NEXTVAL,
		#{opendiaryTitle}, #{opendiaryContents}, SYSDATE, 
		SYSDATE,DEFAULT, #{userId})
	</insert>
	<insert id="insertImgFile" parameterType="hashmap">
		INSERT INTO DIARY_IMG VALUES
		(#{userId}, #{imgPath},
		#{imgRenamePath}, 0, SEQ_OPENDIARY.CURRVAL)
	</insert>
	
</mapper>
