<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.ddoda.require.domain.Require" alias="Require"/>
		<typeAlias type="com.kh.ddoda.require.domain.Reply" alias="Reply"/>
	
		<typeAlias type="com.kh.ddoda.mate.domain.Mate" alias="Mate"/>
		<typeAlias type="com.kh.ddoda.mate.domain.MateComment" alias="MateCom"/>
		<typeAlias type="com.kh.ddoda.mate.domain.Mymate" alias="Mymate"/>
		<typeAlias type="com.kh.ddoda.opendiary.domain.Opendiary" alias="Opendiary"/>
		<typeAlias type="com.kh.ddoda.opendiary.domain.DiaryImg" alias="DiaryImg"/>
		<typeAlias type="com.kh.ddoda.opendiary.domain.OpendiaryComment" alias="OpendiaryComment"/>
		
		<typeAlias type="com.kh.ddoda.member.domain.Member" alias="member"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/mate-mapper.xml"/>
		<mapper resource="mappers/opendiary-mapper.xml"/>
		<mapper resource="mappers/require-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
	</mappers>
</configuration>
